@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

$fonts-headline: 'Lobster', sans-serif;
$fonts-body: 'Nunito Sans', sans-serif;
$background-color: #1375E8;
$primary: #FA6724;
$accent1: #FFD700;
$accent2: #13E841;
$accent3: #EF2EC5;
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #111111;
$text-light: #fff;

$fSize-lg: 32px;
$fSize-md: 20px;
$fSize-sm: 18px;
