@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #1375E8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 100%;
  color: #111111;
  background-color: #1375E8;
  margin: 0;
  padding: 1rem;
  max-width: 960px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3 {
  font-family: "Lobster", sans-serif;
}

h1 {
  font-size: 32px;
  background-color: #EF2EC5;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 12px;
}

.requirements h3, .benefits h3, .participation h3, .explanation h3 {
  background-color: red;
  height: 58px;
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c1c1c1;
  position: relative;
  top: -50px;
  border-radius: 12px;
}
.requirements p, .benefits p, .participation p, .explanation p {
  margin-bottom: 1rem;
}

.intro,
.benefits {
  background: #FFD700;
  border: solid 2px #fff;
  padding: 2em;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: #111111;
}

p {
  line-height: 24px;
  margin-bottom: 1rem;
}

.explanation,
.requirements {
  background: #FFD700;
  border: solid 2px #fff;
  padding: 2em;
  margin-bottom: 2rem;
}

.participation {
  background: #EF2EC5;
  border: solid 2px #fff;
  padding: 2em;
  margin-bottom: 2rem;
}

.sidebar {
  text-align: end;
  background: #111111;
  font-weight: 900;
  width: 250px;
  padding: 1.5rem;
  font-size: 80%;
  position: relative;
  z-index: 0;
}
.sidebar .wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar .wrapper li {
  list-style: none;
  margin-bottom: 0.5rem;
}
.sidebar .wrapper li a {
  text-decoration: none;
  color: black;
  font-size: "Nunito Sans", sans-serif;
}
.sidebar ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(45deg, #FFD700, #FFD700 10px, #13E841 10px, #13E841 20px);
  z-index: -1;
  pointer-events: none;
  opacity: 0.5;
}

/* 35rem is also 560px when basefont is 16px*/
@media only screen and (min-width: 35rem) {
  .intro,
  .benefits {
    background: #13E841;
    border: solid 2px #fff;
    padding: 2rem;
  }
  .explanation,
  .requirements {
    background: #FFD700;
    border: solid 2px #fff;
    padding: 2rem;
    margin-bottom: 2rem;
  }
}
/* 64rem is also 1028px when basefont is 16px*/
@media only screen and (min-width: 64rem) {
  body {
    margin: 0;
    padding: 0;
  }
  .intro,
  .benefits {
    background: #13E841;
    border: solid 2px #fff;
    padding: 2em;
  }
  .benefits {
    height: 300px;
  }
  .page-wrapper {
    display: grid;
    grid-template-columns: 50% auto;
    gap: 2rem;
    /* fix: minimum width of 0 */
    grid-template-columns: minmax(0, 1fr) 300px;
  }
  .main.supporting {
    grid-row: 2/3;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 50% auto;
    gap: 32px;
  }
  .main.supporting .explanation {
    grid-column: 1/3;
  }
  .main.supporting .requirements {
    grid-column: 1/3;
  }
}
/* Define animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
/* Apply animations to sidebar */
#zen-intro header h1,
#zen-intro header h2,
#zen-summary,
#zen-preamble,
#zen-supporting,
#zen-explanation,
#zen-participation,
#zen-benefits,
#zen-requirements {
  animation: fadeIn 1s ease;
}

.design-selection ul li,
.design-archives ul li,
.zen-resources ul li {
  animation: slideInFromRight 1s ease forwards;
}

/*# sourceMappingURL=style.css.map */
